body{
    background-color: rgba(255, 0, 0, 0.631);
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
   
    animation-name: cambiofont;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    

}
@keyframes cambiofont {
    0% {
        font-family: sans-serif;
    }
    25% {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    50% {
        font-family: Georgia, serif;
    }
    75% {
        font-family: fantasy;
    }
    100% {
        font-family: cursive;
    }
}
.stopsign {
    display: flex;
    justify-content: center;
}
.vuelve1{
    color: rgba(228, 229, 230, 0.355);
    text-align: bottom;
}