body{
    background-color: rgba(0, 0, 0, 0.631);
}
p{
    color: aliceblue;
    text-align: center;
    font-size: 5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.grandpa {
    display: flex;
    justify-content: center;
}
.vuelve1{
    color: rgba(228, 229, 230, 0.355);
}