body{ 
    background-color: rgba(136, 255, 255, 0.605);
}
h1 {
    color: rgb(255, 173, 67);
    font-size: 7em;
    text-align: center;
}
p{ 
    color: rgb(255, 158, 228);
    font-size: 5em;
    text-align: center;

}

h2 {
    font-size: 4em;
    text-align: center;
   
}

.noob {
    display: flex;
    justify-content: center;
}
.super {
    color: rgb(255, 221, 162);
}
.hiper{
    color: rgb(255, 209, 124);
}

.mega{
    color: rgb(255, 197, 97)
}
.epico{
    color: rgb(255, 182, 56)
}
.ycool{
    color: rgb(255, 162, 0);
}